<div>
	<nav class="top-bar">
	 <section class="top-bar-section">
		<ul class="left">
			<li class="divider"></li>
			<li class="active"><a href="http://blooming-woodland-6670.herokuapp.com/">Home</a></li>
	   		<li class="divider"></li>
			<li class="active"><a href="#">VIP Member</a></li>
	   		<li class="divider"></li>
			<li class="active"><a href="#">Experiences</a></li>
	   		<li class="divider"></li>
			<li class="active"><a href="#">Moments</a></li>
	   		<li class="divider"></li>
			<li class="active"><a href="#">Awards</a></li>			
		</ul>
	 </section>
	 </nav>     
</div>

<div style="width: 100%; align: center;">
	<img src="http://static.squarespace.com/static/4ffce520e4b0b11c22561872/4ffce520e4b0b11c22561878/5245c7fde4b05bfd3a956025/?format=500w" style="width: 50%;"/>
</div>


<div style="width: 100%; align: center;">
	<a href="/users/new" class="large button">Join Now</a>	
</div>	


