 <div style="width:100%; background-color:#000;">
	  <form>
	  	<div class="row" style="padding-top:20px">
            <div class="large-3 push-6 columns">
	            <input type="text" placeholder="Name">
		    </div>    
	      <div class="large-3 columns">
		      <div class="row collapse">
		        <div class="large-6 columns">
		          <input type="text" placeholder="Password">
		        </div>
		        <div class="small-4 columns">
		          <a href="#" class="button prefix">Login</a>
		        </div>
		      </div>
		    </div>

		</div>
	</form>            
			    
</div>
 
<div style="background-color:#fff;">
	<div class="row">     
		
		<div>
			<img src="http://i1364.photobucket.com/albums/r733/showroomme/Header_zps9885ba07.jpg" border="0" alt=" photo Header_zps9885ba07.jpg" style="padding:0; margin:0;"/>
	    </div>
  
    <div class="row">
		        <div class="large-12 large-centered columns" style="width:1000px;">    
			    <ul class="button-group radius" style="padding-left:225px;">
			 			   <li><a href="#" class="button secondary">Home</a></li>
				           <li><a href="#" class="button secondary">Vision</a></li>
				           <li><a href="#" class="button secondary">Contribute New Idea</a></li>
				           <li><a href="#" class="button secondary">Awards</a></li>  
				  </ul>
			    </div>
		</div>
      
		<div style="width=100%">

			<img src="http://i1364.photobucket.com/albums/r733/showroomme/middle_zpscb53e710.jpg" border="0" alt=" photo middle_zpscb53e710.jpg"/>   
	
		</div>

		<div>
            
			<img src="http://i1364.photobucket.com/albums/r733/showroomme/Footer_zpsff1df84c.jpg" border="0" alt=" photo Footer_zpsff1df84c.jpg"/></a>
  
		</div>            
	</div>   


 


